* {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 75px;
    display: flex;
    background-color: #222222;
    align-items: center;
    justify-content: space-around;
}

.logo_lupa {
    display: flex;
    gap: 41px;
}

.nav {
    display: flex;
    gap: 33px;
}

.body1 {
    display: flex;
    justify-content: center;
    background-color: #F1E4E6;
    width: 100%;
}

.body_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
}

h2 {
    display: flex;
}


.Fashion {
    color: #F16D7F;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 30px;
}

.all_body2_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.up_text {
    color: #FFFFFF;
    font-size: 16px;
}

.down_text {
    color: #F16D7F;
    font-size: 24px;
}

.women {}

.men {}

.kids {}

.Acc {}

.body3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_body3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.up_text_b3 {
    font-size: 30px;
    color: #222222;
}

.down_text_b3 {
    font-size: 14px;
    color: #9F9F9F;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    gap: 12px;
}

.item {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

.up_text_c {
    font-size: 13px;
    color: #000000;
}

.med_text_c {
    font-size: 14px;
    color: #5D5D5D;
}

.down_text_c {
    font-size: 16px;
    color: #F16D7F;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 16px;
    color: #F16D7F;
    border-color: #F26376;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    padding: 15px 39px 14px;
}