* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    height: 75px;
    display: flex;
    background-color: #222222;
    align-items: center;
    justify-content: space-around;
}

.logo_lupa {
    display: flex;
    gap: 41px;
    align-items: center;
}

.nav {
    display: flex;
    gap: 33px;
    align-items: center;
}

.body1 {
    display: flex;
    justify-content: center;
    background-color: #F1E4E6;
    width: 100%;
}

.body_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
}

h2 {
    display: flex;
}


.Fashion {
    color: #F16D7F;
}

.body2 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.for {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 30px;
}

.all_body2_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.up_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.down_text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.item {
    position: relative;
}

.item_a {
    min-height: 180px;
    grid-column: 1 / -1;
}

.body3 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.head_body3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.up_text_b3 {
    font-size: 30px;
    color: #222222;
}

.down_text_b3 {
    font-size: 14px;
    color: #9F9F9F;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    gap: 12px;
}

.item {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

.up_text_c {
    font-size: 13px;
    color: #000000;
}

.med_text_c {
    font-size: 14px;
    color: #5D5D5D;
}

.down_text_c {
    font-size: 16px;
    color: #F16D7F;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 16px;
    color: #F16D7F;
    border-color: #F26376;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    padding: 15px 39px 14px;
}


@media(min-width: 768px) and (max-width: 1024px) {
    .header {
        width: 1024px;
    }

    .body1 {
        width: 100vw;
    }

    .body3 {
        display: grid;
        justify-items: stretch;
    }

    .body2 {
        display: grid;
    }
}

@media (max-width: 767px) {

    .container {
        max-width: 767px;
        min-width: 343px;
    }

    .logo_lupa {
        margin: 16px 18px;
    }

    .nav {
        margin: 25px 16px;
        gap: 0;
    }

    .body1 {
        width: 375px;
        height: 363px;
    }

    .Human {
        display: none;
    }

    .body2 {
        display: flex;
        flex-direction: column;
    }

    .imgL {
        max-width: 343px;
        min-height: 111px;
    }

    .body3 {
        display: flex;
        flex-direction: column;
    }

    .center {
        display: flex;
        flex-direction: column;
    }
}